.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo:hover {
  animation: App-logo-spin infinite 1.5s ease-in-out;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-github-link a {
  color: white;
}

@media screen and (max-width: 500px) {
  .App-logo {
    height: 43px;
  }
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-button {
  cursor: pointer;
  color: white;
  background: black;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.App-button:hover {
  color: black;
  background: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
